<h1>Tweets</h1>

<%= render :partial => "new" %>

<h2>Everyone's Tweets</h2>

<%= paginate @tweets %>
<ul>
  <% @tweets.each do |tweet|%>
    <li>
      <%= link_to tweet.zombie.name, zombie_path(tweet.zombie) %>
      <%= tweet.status%> -
      <%= tweet.created_at.strftime("%I:%M %p %m/%d/%Y") %>
    </li>
  <% end%>  
</ul>
<%= paginate @tweets %>
<%= link_to "See all Zombies", zombies_path %>
