<h1>Name:<%=@zombie.name%></h1>
<div id="page_actions">
  <% if current_zombie == @zombie %>
    browse | <%= link_to "edit", edit_zombie_path(@zombie) %>
  <% end %>
</div>
<dl>
  <dt class="name">Name:</dt>
  <dd class="name"><%= @zombie.name %></dd>
  <dt class="graveyard">Graveyard:</dt>
  <dd class="graveyard"><%= @zombie.graveyard %></dd>
</dl>
<h2>Tweets:</h2>
  <% if current_zombie == @zombie %>
    <%= link_to "Create a new Tweet", new_zombie_tweet_path(@zombie) %>
  <% end %>
<ul>
<% @zombie.tweets.each do |tweet|%>
<li><%= tweet.status %></li>
<% end %>
</ul>