<!DOCTYPE html>
<html>
<head>
  <title>Hydracamp</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>



<div class="content clearfix">
  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:error] %>
    <div class="error">
      <%= flash[:error] %>
    </div>
  <% end %>
</div>
<%= yield %>

</body>
</html>
